<section class='section registration'>
  <div class='row valign-wrapper'>
    <div class='col hide-on-small-only m6 l4 blue-grey image valign-wrapper white-text'><h1>Stay Updated</h1></div>
    <div class=' col s12  m6  l8 center-align info'>
      <div id='wrapper'> 
        <%= image_tag 'globe.gif' %>
        <h2 class='title'>Register For <span class='red-text'>A</span>tlas</h2>
        <%= simple_form_for(resource, as:resource_name, url: registration_path(resource_name)) do |f| %>
          <div class='form-inputs'>
              <%= f.input :adid,
                          wrapper_html: {class:'input-field'},
                          label: 'ADID',
                          input_html: {autocomplete: "username"}%> 
          <div class='row'>
            <div class='col s12 m6 input-field r'>
              <%= f.input :firstName,
                          wrapper_html: {class: 'input-field'},
                          label: 'First Name',
                          input_html: {autocomplete: "give-name"} %>
            </div>
            <div class='col s12 m6 input-field l'>
              <%= f.input :lastName,
                          wrapper_html: {class: 'input-field'},
                          label: 'Last Name',
                          input_html: {autocomplete: "family-name"}%>
            </div>
          </div>

          <div class='row'>
            <div class='col s12 m6 input-field r'>
              <%= f.input :password,
                          wrapper_html: {class: 'input-field'},
                          label: 'Password',
                          input_html: { autocomplete: "new-password", class:'validate'} %>
            </div>
          <div class='col s12 m6 input-field l'>
              <%= f.input :password_confirmation,
                          wrapper_html: {class: 'input-field'},
                          label: 'Confirm Your Password',
                          input_html: {autocomplete: 'new-password', class:'validate'} %>
              
              <span class='helper-text' data-error="Passwords don't match"></span>
          </div>

          <div class='form-actions'>
            <%= f.button :submit, "Sign Up", class:'button waves-effect waves-light waves-input-wrapper is-primary' %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>