<%= render 'devise/shared/header' %>
<section class='section registration'>
  <div class='row valign-wrapper'>
    <div class='col hide-on-small-only m6 l4 blue-grey image valign-wrapper white-text'><h1>Stay Updated</h1></div>
    <div class=' col s12  m6  l8 center-align info'>
      <h2 class='title'>Log Into <span class='red-text'>A</span>tlas</h2>
      <%= simple_form_for(resource, as:resource_name, url: session_path(resource_name)) do |f| %>
        <div class='form-inputs'>
          <%= f.input :adid,
                      autofocus: true,
                      placeholder: 'ADID',
                      wrapper_html: {class:'input-field'},
                      class: 'validate',
                      input_html: {autocomplete: 'username'},
                      label: false %> 
          
        <%= f.input :password,
                    label: false,
                    placeholder: 'Password',
                    wrapper_html: {class:'input-field'},
                    class: 'validate',
                    input_html: { autocomplete: "current-password" } %>

        <%= f.input :remember_me, as: :boolean, inline_label: '<span>Remember Me</span>'.html_safe if devise_mapping.rememberable? %>

        <div class='form-actions'>
          <%= f.button :submit, "Log in", class:'button waves-effect waves-light is-primary' %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>

</section>
</div>

</div>