<%= render 'header' %>

<!-- Posts -->
<div class="preloader-wrapper big active">
  <div class="spinner-layer spinner-blue-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>
<section class='content container' style='display:none'>
  <div class ='post card hoverable'>
    <div class='card-image'>
      <%= image_tag 'tmp/n2.jpg', class:'responsive-img' %>
      <span class='flow-text truncate card-title'>
        <div class='heading truncate'>Zion Williamson is dominating the NBA like it’s just another basketball league</div>
        <p class='flow-text white-text meta'><%= icon('fab','youtube') %> Published by <span class='deep-orange-text text-lighten-3'>Vedant</span> on 3rd Feb 2020</p>
      </span>
      <a class="btn-floating halfway-fab waves-effect waves-light red"><%= icon('fa', 'comments') %></a>
    </div>
    <div class='card-content'>
      <p class='flow-text grey-text text-darken-4'>Zion Williamson is physically overwhelming NBA players the same way he did college players the same way he did high school players. Nine games into..</p>
    </div>
    <div class='card-action'>
      <p class='like'><%= icon('far','heart')%> 121 likes</p>
      <p class='right comment'>8 Comments</p>
    </div>
  </div>

  <div class ='post card hoverable'>
    <div class='card-image no-image'>
      <span class='flow-text truncate card-title blue-grey'>
            <div class='heading truncate'>Pistons’ Derrick Rose to play vs. Magic after missing 5 games, be on minutes restriction</div>
            <p class='flow-text meta'><%= icon('fas','file') %> Published by <span class='deep-orange-text text-lighten-3'>Vedant</span> on 3rd Feb 2020</p>
      </span>
      <a class="btn-floating halfway-fab waves-effect waves-light red"><%= icon('fa', 'comments') %></a>
    </div>
    <div class='card-content'>
      <p class='flow-text grey-text text-darken-4'>Detroit Pistons point guard Derrick Rose will play on Wednesday against the Orlando Magic after missing the previous five games due to a hip injury.</p>
    </div>
    <div class='card-action'>
      <p class='like'><%= icon('far','heart')%> 121 likes</p>
      <p class='right comment'>8 Comments</p>
    </div>
  </div>

  <div class ='post card hoverable'>
    <div class='card-image no-image'>
      <span class='flow-text truncate card-title blue-grey'>
        <div class='heading truncate'>Mavs star Kristaps Porzingis reacts to his 27-13 game in Luka Doncic’s return</div>
        <p class='flow-text meta'><%= icon('fas','file-pdf') %> Published by <span class='deep-orange-text text-lighten-3'>Vedant</span> on 9th Feb 2020</p>
      </span>
      <a class="btn-floating halfway-fab waves-effect waves-light red"><%= icon('fa', 'comments') %></a>
    </div>
    <div class='card-content'>
      <p class='flow-text grey-text text-darken-4'>Big man Kristaps Porzingis effectively shut down talks that he only plays well without Luka Doncic, as both players bagged a monster game in the...</p>
    </div>
    <div class='card-action'>
      <p class='like'><%= icon('far','heart')%> 121 likes</p>
      <p class='right comment'>8 Comments</p>
    </div>
  </div>

  <div class ='post card hoverable'>
    <div class='card-image'>
      <%= image_tag 'tmp/n1.jpg', class:'responsive-img' %>
      <span class='flow-text truncate card-title'>
        <div class='heading truncate'>Luka Doncic, Kristaps Porzingis shine as a duo in Doncic's return from injury</div>
        <p class='flow-text meta'>Published by <span class='deep-orange-text text-lighten-3'>Vedant</span> on 3rd Feb 2020</p>
      </span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><%= icon('fa','comments') %></a>
    </div>
    <div class='card-content'>
      <p class='flow-text grey-text text-darken-4'>Dallas Mavericks big man Kristaps Porzingis effectively shut down talks that he only plays well without Luka Doncic, as both players bagged a monster game..</p>
    </div>
    <div class='card-action'>
      <p class='like'><%= icon('far','heart')%> 121 likes</p>
      <p class='right comment'>8 Comments</p>

    </div>
  </div>
</section>