<!DOCTYPE html>
<html>
  <head>
    <title>Atlas: School News</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type:'image/jpeg' %>
    <link rel="manifest" href="/manifest.json">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#01347A"/>
  </head>

  <body>
    <% if notice %>
      <p class='alert alert-success has-text-centered'><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class ='alert alert-danger has-text-centered'><%= alert %></p>
    <% end %>

<!-- topmost header -->
    <section class="hero is-navy is-small">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <h1 class='title'><%= link_to 'Atlas', root_path, class: "navbar-item" %></h1>
            </div>

            <div id="navbarMenuHeroA" class="navbar-menu">
              <% if user_signed_in? %>
                <div class="navbar-end">
                  <%= link_to "Create New Post", new_post_path, class:"navbar-item" %>
                </div>
              <% end %>
            </div>
            <div class='navbar-item'>
              <%= fa_icon 'filter lg', onclick: "openModal()" %>
            </div>
          </div>
        </nav>
      </div>
    </section>

<!-- tabs secrion -->
    <section class='tabs is-centered is-medium is-navy'>
      <ul>
        <li class="tab is-active" onclick="openTab(event,'news')">
          <a>
            <span class="icon is-small"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
            <span>News</span>
          </a>
        </li>

        <li class="tab" onclick="openTab(event,'innovation')">
          <a>
            <span class="icon is-small"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></span>
            <span>Innovation</span>
          </a>
        </li>

        <li class="tab" onclick="openTab(event,'training')">
          <a>
            <span class="icon is-small"><i class="fa fa-graduation-cap"></i></span>
            <span>Training</span>
          </a>
        </li>

        <li class="tab" onclick="openTab(event,'accolades')">
          <a>
            <span class="icon is-small"><i class="fa fa-trophy" aria-hidden="true"></i></span>
            <span>Accolades</span>
          </a>
        </li>
      </ul>
    </section>

<!-- Modals are here -->
    <div class="modal is-clipped" id="timepicker">
      <div class="modal-background" onclick="closeModal()"></div>
      <div class="modal-content">
        <div class='box'>
          <div class='content'>
            <div class='is-8 has-text-centered'>Show posts between</div>
          </div>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" onclick="closeModal()"></button>
    </div>


<!-- Data is kept here -->
      <section class ='section'>
        <div class='container tab-content' id='news'>
          <% @posts.each do |post| %>
            <div class = 'card'>
              <div class='card-content'>
                <div class ='media'>
                
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <%= image_tag("https://via.placeholder.com/128.png", :alt=>"Placeholder image") %>
                    </figure>
                  </div>

                  <div class='media-right'>
                    <div class= 'media-content'>
                      <p class= 'title is-size-6'><%= link_to post.title, post %></p>
                    </div>
                    <div class= 'data'>
                      <%=dateFormater(post.created_at) %>
                    </div>
                    <div class ='comment-count'>
                      Published by: <span class ='tag is-rounded'>Vedant</span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class='container tab-content' id='innovation' style="display:none">
          
          <div class = 'card'>
              <div class='card-content'>
                <div class ='media'>
                
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <%= image_tag('tmp/i1.jpg', :alt=>"Placeholder image") %>
                    </figure>
                  </div>

                  <div class='media-right'>
                    <div class= 'media-content'>
                      <p class= 'title is-size-6'>
                        <a href ="https://education.cu-portland.edu/blog/leaders-link/educational-innovations-changing-the-classroom/" target="_blank">
                          7 Educational Innovations Changing The Classroom </a>
                      </p>
                    </div>
                    <div class= 'data'>03-02-2020</div>
                    <div class ='comment-count'>
                      Published by: <span class ='tag is-rounded'>Vedant</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= image_tag('tmp/i3.jpg', :alt=>"Placeholder image") %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">7 reasons why we need innovation in schools</p>
                  <p class="subtitle is-6">Published By Vedant Shetty</p>
                </div>
              </div>

              <div class="content">
                <time datetime="2016-1-1">02-02-2020</time>
              </div>
            </div>
          </div>


            <br />
            <div class = 'card'>
              <div class='card-content has-text-centered'>
                <iframe width="560" height="315"
                  src="https://www.youtube.com/embed/5QN8H0S-AR4">
                </iframe>
                <div class ='comment-count'>
                  Published by: <span class ='tag is-rounded'>Vedant</span>
                </div>

                <p class="content">
                  <span>02-02-2020</span>
                </p>
              </div>
              
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span>View on  <a href="https://www.youtube.com/watch?v=5QN8H0S-AR4">Youtube</a></span>
                </p>
              </footer>
            </div>

            <br />
            <div class = 'card'>
              <div class='card-content'>
                <p class= 'title is-size-4'>Mumbai School Innovation Fair Will Be On 22nd October
                </p>

                <p class='subtitle is-size-6'> 02-02-2020</p>
                <p class="subtitle ">Vedant Shetty</p>
              </div>
              
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span>Share on <a href="#">Facebook</a></span>
                </p>
              </footer>
            </div>
            <br />

                      <div class = 'card'>
              <div class='card-content'>
                <div class ='media'>
                
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <%= image_tag('tmp/i2.jpg', :alt=>"Placeholder image") %>
                    </figure>
                  </div>

                  <div class='media-right'>
                    <div class= 'media-content'>
                      <p class= 'title is-size-6'>
                        <a href ="https://3dexter.com/5-recent-innovations-welcomed-schools-india/" target="_blank">
                          5 Recent Innovations of 2018 Welcomed by Schools in India </a>
                      </p>
                    </div>
                    <div class= 'data'>02-02-2020</div>
                    <div class ='comment-count'>
                      Published by: <span class ='tag is-rounded'>Vedant</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class='container tab-content' id='training' style="display:none">
          <p>This is the training tab</p>
        </div>

        <div class='container tab-content' id='accolades' style="display:none">
          <p>This is the accolades tab</p>
        </div>
      </section>

    <section class='section'>
      <button class="fab button is-hidden-desktop is-danger">
        <%= link_to fa_icon('plus'), new_post_path, class:'has-text-white' %>
      </button>
    </section>
  </body>
</html>