<%= render 'shared/header' %><!--

<section class=' section comments'>
  <div class='container'>
    <h2 class='subtitle is-5'><strong><%= @post.comments.count %></strong> Comments</h3>

    <%= render @post.comments %>
  </div>

  <div class='comment-form'>
  <hr />
  <h3 class='subtitle is-4'>Leave a reply</h3>
  <%= render 'comments/form' %>
</section>

-->

<div class='container center-align'>
  <!-- If post has an image -->
  <div class='section '>
      <div class='post-title'><h3><%= @post.title %></h3></div>
      <div class ='post-category teal-text'><h6><%=@post.category.name %></h6></div>
      <div class='meta'>
        <div class='post-author'>
          <%=icon("fa","user-circle")%> <%="#{@post.user.firstName} #{@post.user.lastName}" %>
        </div>

        <div class='post-like'>
          <%= icon('far','heart') %>
        </div>

        <div class='post-date'>
          <%=icon("far","calendar") %> <%= dateFormater(@post.created_at) %>
        </div>
        </div>
  </div>

  <div class='section post-body-container left-align'>
    <div class='content'><p class='flow-text'><%= @post.content %></p></div>
  </div>
  <div class='divider'></div>

  <div class=' post-comment-container'>
    <h4 class='grey-text'><%= pluralize @post.comments.count, 'Comment' %></h4>
      <%= render @post.comments %>
    <div class='comment-form'>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>