<div class='container'>
  <!-- If post has an image -->
  <div class='section center-align'>
      <div class='post-title flow-text valign-wrapper'>
        <div class="back hide-on-large-only", style="display:none",  onclick='history.back()'>
          <%= icon('fa', 'arrow-left') %>
        </div>
        <h4><%= @post.title %></h4>
      </div>
      <div class ='post-category teal-text'><h6><%=@post.category.name %></h6></div>
      <div class='meta'>
        <div class='post-author'>
          <%=icon("fa","user-circle")%> <%="#{@post.user.firstName} #{@post.user.lastName}" %>
        </div>

        <div class='post-like'>
          <%= icon('far','heart') %>
        </div>

        <div class='post-date'>
          <%=icon("far","calendar") %> <%= dateFormater(@post.created_at) %>
        </div>
        </div>
  </div>

  <div class='section post-body-container'>
    <div class='content'><p class='flow-text'><%= @post.content %></p></div>
  </div>
  <div class='divider'></div>

  <div class=' post-comment-container' id='comments'>
    <h4 class='grey-text center-align'><%= pluralize @post.comments.count, 'Comment' %></h4>
      <%= render @post.comments %>
    <div class='comment-form center-align'>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>