<% colors = ['deep-purple','pink','amber','light-blue','deep-orange','blue-grey','red','lime','orange','purple','teal','indigo','yellow','blue','green','light-blue','cyan'] %>
<div class='footer hoverable hide-on-med-and-up'>
  <nav class='translucent'>
    <div class='nav-wrapper row'>
      <div class='category center-align col s3'>
        <div class='icon deep-purple-text'>
          <%= link_to(root_path, class:'waves-effect red-text') do %>
           <%= icon('fas','home') %>
          <% end %>
        </div>

      </div>

      <div class='category center-align col s3'>
        <div class='icon'>
          <%= link_to(new_post_path, class:'waves-effect red-text') do %>
            <%= icon('fas','plus-circle') %>
          <% end %>
          </div>

      </div>

      <div class='category center-align col s3'>
        <div class='icon orange-text'><%= icon('fas','search') %></div>
      </div>

      <div class='category center-align col s3'>
        <a class=' icon yellow-text text-darken-4 sidenav-trigger' data-target='mobile-nav'>
          <%= icon('fas','ellipsis-h') %>
        </a>
      </div>
    </div>
  </nav>
<!--
    <div id='footer-categories' class=' card hide-on-med-and-up'>
      <% @categories.each do |category| %>
        <%= link_to category do %>
          <div class='item center-align'>
            <div class='<%="#{colors[(category.id-1)%colors.length]}-text"%> icon'>
              <% iconTags = iconize(category.icon) %>
              <%= icon(iconTags[0], iconTags[1]) %>
            </div>
            <div class='grey-text'><%=category.name%></div>
          </div>
        <% end %>
      <% end %>
    </div>
    </nav>
-->
  </div>