<!-- topmost header -->
  <div class='navbar-fixed hide-on-small-only'>
    <nav class ='indigo darken-4'>
      <div class='nav-wrapper'>
        <a href='#' class='brand-logo'>Atlas</a>

        <ul id='nav-mobile' class='right'>
          <li class='category-select input-field'>
            <a class='dropdown-trigger' href='#' data-target = 'category'>
              <p>News </p> <%= icon('fa','angle-down')%>
            </a>
          </li>

          <li class='search'><a href=''><%= icon('fa','search') %></a></li>
          <li class='hide-on-med-and-down'>
            <a class='dropdown-trigger' href='#' data-target='profile'><p>Vedant Shetty </p><%=icon('fa','angle-down')%></a>
          </li>
          <li><a href="#" data-target="mobile-nav" class="sidenav-trigger"><%=icon('fa','bars') %></a></li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Profile Dropdown -->
  <ul id='profile' class='dropdown-content'>
    <li><a href='#'>My Profile</a></li>
    <li><a href='#'>Log Out</a></li>
    <li class='divider' tabindex='-1'></li>
    <li><a href='#'>F.A.Q</a></li>
    <li><a href='#'> Help Center</a></li>
  </ul>
  
  <!-- Category Dropdown -->
  <ul id='category' class='dropdown-content'>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category %></li>
    <% end %>
  </ul>
