<%= render 'header' %>


  <!-- Side Nav bar -->
<ul class="sidenav" id="mobile-nav">
  <li>
    <div class='user-view'>
      <div class='background'>
        <%= image_tag('profile-background.jpg') %>
      </div>
      <a href='#'><span class='white-text name center-align'><%= "#{current_user.firstName} #{current_user.lastName}" %></span></a>
    </div>
  </li>
  <li><%= link_to(new_post_path, class:'waves-effect') do %>
        <%=icon('fa','edit') %>
        Create a new post
      <% end %>
  <li><%= link_to(destroy_user_session_path, method: :delete, class:'waves-effect') do %>
        <%= icon('fas','sign-out-alt') %>
        Log Out
      <% end %>
  </li>
  <li class='subheader' tabindex='-1'>Categories</li>
  <% @categories.each do |category| %>
    <% iconTags = iconize(category.icon) %>
    <li style='padding-left:5px'><a href='' class='waves-effect'><%= icon(iconTags[0],iconTags[1])%> <%=category.name %></a></li>
  <% end %>
  <li><div class='divider'></div></li>
  <li><a href="" class='waves-effect'><%= icon('fas','question-circle')%> Frequently Asked Questions</a></li>
  <li><a href="" class='waves-effect'><%= icon('fa', 'info-circle') %>Help Center</a></li>
</ul>

<!-- Posts -->
<div class="preloader-wrapper big active">
  <div class="spinner-layer spinner-blue-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<section class='content container' style='display:none'>
  <% @posts.each do |post| %>
    <div class ='post card hoverable'>
      <div class='card-image no-image'>
        <span class='flow-text truncate card-title black'>
              <%= link_to(post) do %>
                <div class='heading truncate'><%=post.title %></div>
              <% end %>

              <p class='flow-text meta'>Published by <span class='blue-text'><%="#{post.user.firstName} #{post.user.lastName}"%></span> on <%=dateFormater(post.created_at) %></p>
        </span>
        <%= link_to(post, class:"btn-floating halfway-fab waves-effect waves-light red") do %>
          <%= icon('fa', 'comments') %>
        <% end %>
      </div>
      <div class='card-content'>
        <p class='flow-text grey-text text-darken-4'><%=truncate(strip_tags(post.content.to_s),length:150,omission:'...')%></p>
      </div>
      <div class='card-action'>
        <p class='like'><%= icon('far','heart')%> 121 likes</p>
        <p class='right comment'> <%= pluralize post.comments.count, 'Comment' %></p>
      </div>
    </div>
  <% end %>

  <div class ='post card hoverable '>
    <div class='card-image'>
      <%= image_tag 'tmp/n2.jpg', class:'responsive-img' %>
      <span class='flow-text truncate card-title'>
        <div class='heading truncate'>Zion Williamson is dominating the NBA like it’s just another basketball league</div>
        <p class='flow-text white-text meta'><%= icon('fab','youtube') %> Published by <span class='blue-text'>Vedant</span> on 3rd Feb 2020</p>
      </span>
      <a class="btn-floating halfway-fab waves-effect waves-light red"><%= icon('fa', 'comments') %></a>
    </div>
    <div class='card-content'>
      <p class='flow-text grey-text text-darken-4'>Zion Williamson is physically overwhelming NBA players the same way he did college players the same way he did high school players. Nine games into..</p>
    </div>
    <div class='card-action'>
      <p class='like'><%= icon('far','heart')%> 121 likes</p>
      <p class='right comment'>8 Comments</p>
    </div>
  </div>

  <div class ='post card hoverable'>
    <div class='card-image no-image'>
      <span class='flow-text truncate card-title black'>
        <div class='heading truncate'>Mavs star Kristaps Porzingis reacts to his 27-13 game in Luka Doncic’s return</div>
        <p class='flow-text meta'><%= icon('fas','file-pdf') %> Published by <span class='blue-text'>Vedant</span> on 9th Feb 2020</p>
      </span>
      <a class="btn-floating halfway-fab waves-effect waves-light red"><%= icon('fa', 'comments') %></a>
    </div>
    <div class='card-content'>
      <p class='flow-text grey-text text-darken-4'>Big man Kristaps Porzingis effectively shut down talks that he only plays well without Luka Doncic, as both players bagged a monster game in the...</p>
    </div>
    <div class='card-action'>
      <p class='like'><%= icon('far','heart')%> 121 likes</p>
      <p class='right comment'>8 Comments</p>
    </div>
  </div>

  <div class ='post card hoverable'>
    <div class='card-image'>
      <%= image_tag 'tmp/n1.jpg', class:'responsive-img' %>
      <span class='flow-text truncate card-title'>
        <div class='heading truncate'>Luka Doncic, Kristaps Porzingis shine as a duo in Doncic's return from injury</div>
        <p class='flow-text meta'>Published by <span class='blue-text'>Vedant</span> on 3rd Feb 2020</p>
      </span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><%= icon('fa','comments') %></a>
    </div>
    <div class='card-content'>
      <p class='flow-text grey-text text-darken-4'>Dallas Mavericks big man Kristaps Porzingis effectively shut down talks that he only plays well without Luka Doncic, as both players bagged a monster game..</p>
    </div>
    <div class='card-action'>
      <p class='like'><%= icon('far','heart')%> 121 likes</p>
      <p class='right comment'>8 Comments</p>

    </div>
  </div>
</section>


<%= render 'bottomNav' %>