<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:page_title)?yield(:page_title) : 'Atlas: School News'%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': "reload" %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type:'image/jpeg' %>
    <link rel="manifest" href="/manifest.json">          

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#01347A"/>
  </head>

  <body>
    <% if notice %>
      <p class='alert alert-success has-text-centered'><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class ='alert alert-danger has-text-centered'><%= alert %></p>
    <% end %>
  <%= yield %>

</body>
</html>
