<!DOCTYPE html>
<html>
  <head>
    <title>Atlas: School News</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="manifest" href="/manifest.json">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#01347A"/>


    <!-- Temorary fix -->
    <style>
      html, body {
        height: 100%;
      }

      .devise {
          padding-top: 240px;
          background-image: image-url('login-background.jpg');
          height: 100%;
          background-position: center;
          background-size: cover;
          background-repeat: repeat;
      }

      .devise * {
        color: white;
      }


      .devise .input {
        border-width: 0;
        background-color: rgba(0,0,255, 0.2);

      }

      .devise input {
        border-width: 0px;
        color: white;
        width: 360px;
        background-color: transparent
      }

      .devise input:focus {
        outline: none !important;
        border-bottom:1px solid red;
      }

      #user_remember_me {
        width: fit-content;
      }
      .devise .button {
        background-color: rgba(0,0,255, 0.4);
        padding-left: 160px;
        padding-right: 160px;
      }

      .devise .simple_form {
        text-align: center;
        margin: 0 auto;
        width: 360px;
      }

      .devise ::-webkit-input-placeholder { /* Edge */
        color: white;
      }

      .devise :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
      }

      .devise ::placeholder {
        color: white;
      }



      .fab {
        bottom: 0;
        position: fixed;
        margin: 1em;
        right: 0;
        z-index: 999;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
      }

      .is-navy {
        background-color: #01347a;
      }

      .is-navy * {
        color:white;
      }


      .tabs li.is-active a {
        border-bottom-color: #EF6C00;
        border-bottom-width: 4px;
      }
    </style>
  </head>

  <body>
    <% if notice %>
      <p class='alert alert-success has-text-centered'><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class ='alert alert-danger has-text-centered'><%= alert %></p>
    <% end %>

    <section class="hero is-navy is-small">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <h1 class='title'><%= link_to 'Atlas', root_path, class: "navbar-item" %></h1>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
            <% if user_signed_in? %>
              <div class="navbar-end">
                <%= link_to "Create New Post", new_post_path, class:"navbar-item" %>
              </div>
            <% end %>
            </div>
          </div>
        </nav>
      </div>
      </section>
    <%= yield %>
  </body>
</html>
