<!DOCTYPE html>
<html>
  <head>
    <title>Atlas: School News</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': "reload" %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type:'image/jpeg' %>
    <link rel="manifest" href="/manifest.json">          

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#01347A"/>
  </head>

  <body>
    <% if notice %>
      <p class='alert alert-success has-text-centered'><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class ='alert alert-danger has-text-centered'><%= alert %></p>
    <% end %>
    
  <!-- Side Nav bar -->
    <ul class="sidenav" id="mobile-nav">
      <li>
        <div class='user-view'>
          <div class='background'>
            <%= image_tag('profile-background.jpg') %>
          </div>
          <a href='#'><span class='white-text name center-align'> Vedant Shetty</span></a>
        </div>
      </li>
      <li><a href='' class='waves-effect'><%= icon('fa','edit') %> Create a new post</a></li>
      <li><a href="sass.html" class='waves-effect'><%= icon('fas','sign-out-alt')%>Log Out</a></li>
      <li><div class='divider'></div></li>
      <li><a href="collapsible.html" class='waves-effect'><%= icon('fas','question-circle')%> Frequently Asked Questions</a></li>
      <li><a href="mobile.html" class='waves-effect'><%= icon('fa', 'info-circle') %>Help Center</a></li>
    </ul>
  <%= yield %>

</body>
</html>
